/* seção de responsividade mobile  */



@media only screen and (max-width: 480px){
    section{
        scroll-margin-top:120px;
    }

    /*  seção do menu da tela mobile  */
    nav{
        padding:32px 24px !important;
        align-items:flex-start;
        display:flex;
        position: fixed !important;
        flex-direction:column;
        gap:24px;
        
    }

    nav a{
        max-width: 100px;
    }

    nav .acesso-login-site a{
        margin:0 !important;
    }
    

    /* seção cabeçalho da pagina layout parallax */

    header{
        margin-top:128px !important;
    }

    /* seção principal do conteudo da página  */

    main section .conteudo-principal{
        background:var(--cor-primária) !important;
        
    }

    main section .conteudo-principal .descricao-plano {
        display:flex;
        flex-direction:column;

    }

    main section .conteudo-principal .descricao-plano p span{
        font-size:1.5rem;
    }
    main section .conteudo-principal .descricao-planos{
        flex-direction: column;
        align-items: center;
    }
   .descricao-cards{
        padding:40px !important;
        background-color: var(--cor-de-cartao-de-fundo) !important;
        max-width: 100% !important;
      
   
    }


    /* seção da segunda seção do conteudo principal da página */

    main section .conteudo {
        display: grid !important;
        grid-template-columns: repeat(6,100%) !important;
        grid-auto-flow: column;
        overflow: auto hidden;
    }

    section .conteudo  .cards-do-conteudo{
        display: grid !important;
    grid-template-columns: 1fr ! important;
    }
    
   

    /* seção do rodape mobile  */

    footer a{
        display:block;
        margin:1px;
    }

    
    footer .redes-sociais{
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        
    }
    footer .conteudo-principal-footer p{
        margin:8px;
        text-align:center;
        justify-content: center;
        align-items: center;
        font-size:0.75rem !important;
    }

    footer .conteudo-principal-footer a{
        margin:1rem 1rem !important;
    }


    
    
}


/*  seção de responsividade tablet  */


@media only screen and (min-width:671px) and (max-width:800px){
    

    /* seção do conteudo principal no tablet */
    /* seção um do conteudo principal da página */

    main section .conteudo-principal .descricao-planos{
        display:flex;
        flex-direction: column;
        align-items: center;
    }


    /* seção dois do conteudo principal da pagina no tablet */
    main section .conteudo{
        grid-template-columns: repeat(2,1fr) !important;
    }

    /*  seção do rodapé da página np tablet */


    


}


/*  seção de responsividade página login */


@media screen and(max-width:480px) {
    body{
        height:auto;
    }

    main section .conteudo-principal-login {
    
    margin:1rem !important;
    display: flex;
    flex-direction: column;
   
    }

   

    main section .conteudo-principal-login .açoes-do-login  button[type="submit"]{
       margin-bottom:1rem;
    }
    main section .conteudo-principal-login .açoes-do-login a{
       
}

    footer .conteudo-principal-footer{
        margin:2rem !important;
    }


    
    
}